<div>
  <h2>Este es el Login</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" #form="ngForm">
    <label for="username">
        <input type="text" title="username" id="username" placeholder="Usuario" formControlName="username"/>
    </label>
    <label for="password">
        <input type="text" title="password" id="password" placeholder="Contraseña" formControlName="password"/>
    </label>
    <!-- <button type="submit" [disabled]="!userForm.valid">Continuar</button> -->
    <button type="submit">Continuar</button>
  </form>
</div>