@use 'variables' as v;
@use '@angular/material' as mat;

:root {
  @include mat.snack-bar-overrides((
    container-color: #323232,
    supporting-text-color: #ffffff,
    button-color: #bb86fc,
  ));
}

.error-snackbar {
  @include mat.snack-bar-overrides((
    container-color: #d32f2f,
    button-color: white,
    supporting-text-color: white,
  ));
}

.success-snackbar {
  @include mat.snack-bar-overrides((
    container-color: #2e7d32,
    button-color: white,
    supporting-text-color: white,
  ));
}