//Colores principales
$primary: #3f51b5;
$accent: #ff4081;
$warn: #f44336;

$background: #fafafa;
$text-primary: #212121;
$text-secondary: #757575;

// Espaciados (basado en Material Design)
$spacing-unit: 8px;
$spacing-xs: $spacing-unit * 0.5;   // 4px
$spacing-sm: $spacing-unit;         // 8px
$spacing-md: $spacing-unit * 2;     // 16px
$spacing-lg: $spacing-unit * 3;     // 24px

// Tipografía
$font-family-base: 'Roboto', sans-serif;